<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in a noun, verb, and adjective to create your custom MadLib!</h1>
    <form action="/story" method="post">
     <label for="noun">Noun</label>
     <input id="noun" name="noun" type="text">
     <label for="verb">Verb</label>
     <input id="verb" name="verb" type="text">
     <label for="adjective">Adjective</label>
     <input id="adjective" name="adjective" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
