<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to create your custom MadRapLib!</h1>
    <form action="/story" method="post">
     <label for="location">Location</label>
     <input id="location" name="location" type="text">
     <br>
     <label for="famousPerson">Famous Person</label>
     <input id="famousPerson" name="famousPerson" type="text">
     <br>
     <label for="adjective1">Adjective1</label>
     <input id="adjective1" name="adjective1" type="text">
     <br>
     <label for="sound">Sound</label>
     <input id="sound" name="sound" type="text">
     <br>
     <label for="animal1">Animal1</label>
     <input id="animal1" name="animal1" type="text">
     <br>
     <label for="animal2">Animal2</label>
     <input id="animal2" name="animal2" type="text">
     <br>
     <label for="animal3">Animal3</label>
     <input id="animal3" name="animal3" type="text">
     <br>
     <label for="verb1">Verb1</label>
     <input id="verb1" name="verb1" type="text">
     <br>
     <label for="typeOfPerson">Type of Person</label>
     <input id="typeOfPerson" name="typeOfPerson" type="text">
     <br>
     <label for="noun">Noun</label>
     <input id="noun" name="noun" type="text">
     <br>
     <label for="verb2">Verb2</label>
     <input id="verb2" name="verb2" type="text">
     <br>
     <label for="store">Store</label>
     <input id="store" name="store" type="text">
     <br>
     <label for="race">Race</label>
     <input id="race" name="race" type="text">
     <br>
     <label for="goodBad">Good or Bad</label>
     <input id="goodBad" name="goodBad" type="text">
     <br>
     <label for="famousWoman">FamousWoman</label>
     <input id="famousWoman" name="famousWoman" type="text">
     <br>
     <label for="verb3">Verb3</label>
     <input id="verb3" name="verb3" type="text">
     <br>
     <label for="group">Group</label>
     <input id="group" name="group" type="text">
     <br>
     <label for="place">Place</label>
     <input id="place" name="place" type="text">
     <br>
     <label for="game">Game</label>
     <input id="game" name="game" type="text">
     <br>
     <label for="setting">Setting</label>
     <input id="setting" name="setting" type="text">
     <br>
     <label for="edVerb">Verb ending in 'ed'</label>
     <input id="edVerb" name="edVerb" type="text">
     <br>
     <label for="accomplishment">Accomplishment</label>
     <input id="accomplishment" name="accomplishment" type="text">
     <br>
     <label for="pluralNoun">PluralNoun</label>
     <input id="pluralNoun" name="pluralNoun" type="text">
     <br>
     <label for="athlete">Athlete</label>
     <input id="athlete" name="athlete" type="text">
     <br>
     <label for="adjective2">Adjective2</label>
     <input id="adjective2" name="adjective2" type="text">
     <br>
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
