<!DOCTYPE html>
<html>
    <head>
        <title>MadLib</title>
    </head>
    <body>
        <h1>Journey to the Park!</h1>
        <p> The @Model.GetAdjective()</p>
        <p> @Model.GetNoun() went to the park and </p>
        <p>@Model.GetVerb().</p>
    </body>
</html>
